<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>

<ul id="lists">
  <% sort_collection(@lists) do |list| %>
  <li class="<%= list_class(list) %>">
    <a href="/lists/<%= list[:id] %>">
      <h2><%= list[:name] %></h2>
      <p><%= fraction_completed(list) %></p>
    </a>
  </li>
  <% end %>
</ul>