<form action="/lists/todos" method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter the name for your new todo:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Todo Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>