<html>
  <body>
    <h1>Hello!</h1>
    <p>Welcome to my website built on my custom framework using:</p>
    <ul>
      <li>ERB</li>
      <li>Rake</li>
      <li>Ruby</li>
    </ul>
  </body>
</html>