<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1>Content Management System</h1>
    </header>
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
  </body>
</html>
